pkgbase = stremio-linux-shell-git
	pkgdesc = A native Linux client for Stremio (Personal Fork)
	pkgver = v1.0.0.beta.13.r39.g7431320
	pkgrel = 1
	url = https://github.com/AjmalShajahan/stremio-linux-shell
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = pkgconf
	makedepends = cmake
	makedepends = binutils
	makedepends = licenses
	makedepends = nodejs
	makedepends = gtk4
	makedepends = libadwaita
	makedepends = mpv
	makedepends = libepoxy
	makedepends = gettext
	depends = gtk4
	depends = libadwaita
	depends = mpv
	depends = libepoxy
	depends = openssl
	depends = gettext
	depends = hicolor-icon-theme
	provides = stremio-linux-shell
	provides = stremio
	conflicts = stremio
	conflicts = stremio-linux-shell
	options = !lto
	source = git+https://github.com/AjmalShajahan/stremio-linux-shell.git#branch=refactor/gtk4
	sha256sums = SKIP

pkgname = stremio-linux-shell-git
