pkgbase = bottles-git
	pkgdesc = Easily manage wine and proton prefixes
	pkgver = 65.4.r18.g6d876ef1
	pkgrel = 1
	epoch = 2
	url = https://usebottles.com/
	arch = any
	license = GPL-3.0-only
	makedepends = blueprint-compiler
	makedepends = meson
	makedepends = ninja
	makedepends = git
	depends = cabextract
	depends = dconf
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = icoextract
	depends = imagemagick
	depends = libadwaita
	depends = libportal-gtk4
	depends = p7zip
	depends = patool
	depends = python
	depends = python-chardet
	depends = python-gobject
	depends = python-markdown
	depends = python-orjson
	depends = python-pathvalidate
	depends = python-pycurl
	depends = python-requests
	depends = python-yaml
	depends = python-yara
	depends = xorg-xdpyinfo
	depends = vkbasalt-cli
	depends = fvs2
	optdepends = gvfs
	optdepends = lib32-gamemode
	optdepends = lib32-gnutls
	optdepends = lib32-vkd3d
	optdepends = lib32-vulkan-icd-loader
	optdepends = vkd3d
	optdepends = vulkan-icd-loader
	optdepends = wine
	optdepends = gamemode
	optdepends = vmtouch
	provides = bottles
	conflicts = bottles
	source = Bottles::git+https://github.com/bottlesdevs/Bottles.git#branch=main
	source = disable-flatpak-check.patch
	source = native-fixes.patch
	sha256sums = SKIP
	sha256sums = 57ccb1ef0f3cbadea5a7e11e3512ffb94828565cb0e5f3c398cf7dd3006d8db6
	sha256sums = 08aee218df2467443c1dcb3488670a9bd7261876ace48d366167d97afee63563

pkgname = bottles-git
