pkgbase = bottles-git
	pkgdesc = Easily manage wine and proton prefixes
	pkgver = 52.1.r29.g808f3015
	pkgrel = 1
	epoch = 2
	url = https://usebottles.com/
	arch = any
	license = GPL-3.0-only
	makedepends = blueprint-compiler
	makedepends = meson
	makedepends = ninja
	makedepends = git
	depends = cabextract
	depends = dconf
	depends = gamemode
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = icoextract
	depends = imagemagick
	depends = libadwaita
	depends = libportal-gtk4
	depends = p7zip
	depends = patool
	depends = python
	depends = python-chardet
	depends = python-fvs
	depends = python-gobject
	depends = python-markdown
	depends = python-orjson
	depends = python-pathvalidate
	depends = python-pycurl
	depends = python-requests
	depends = python-steamgriddb
	depends = python-yaml
	depends = webkit2gtk
	depends = xorg-xdpyinfo
	depends = vkbasalt-cli
	optdepends = gvfs
	optdepends = lib32-gamemode
	optdepends = lib32-gnutls
	optdepends = lib32-vkd3d
	optdepends = lib32-vulkan-icd-loader
	optdepends = vkd3d
	optdepends = vulkan-icd-loader
	optdepends = wine
	provides = bottles
	conflicts = bottles
	source = git+https://github.com/bottlesdevs/Bottles.git
	source = disable-flatpak-check.patch
	sha256sums = SKIP
	sha256sums = 0de5b19be8484455936662e58578da66eee0fb040afcccbb28d0010be1a03ccb

pkgname = bottles-git
